<!DOCTYPE html>
<html>
<head>
	<title>optocrab.ru</title>
	<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Caveat|Comfortaa|M+PLUS+Rounded+1c|Neucha|Poiret+One|Vollkorn" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
	<div class="app">
<transition name="bounce"> 
<div class="banner" v-if="show_banner">
		<p class="banner_site_name">Optocrab.ru</p>
		<p class="banner_phone">+7(918)263-57-86</p>	

	<div class="banner_email">example@mail.ru</div>
	<div class="banner_about">
		ИНН: В МОДЕРАЦИИ<br>
		ИП: В МОДЕРАЦИИ<br>
		В МОДЕРАЦИИ: В МОДЕРАЦИИ В МОДЕРАЦИИ 
	</div>
	<div class="banner_button" v-on:click="show_banner = false"> Прайс Лист </div>
</div>
</transition>
<header>
	<h1>Optocrab.ru</h1>
	<b>+7(918)263-57-86</b>
</header>
<main>

		<div :class="{ modal_big_background: go_home | opened_desc | admin_open | ask_a_question | reviews_open | aboutus_open | go_home }"></div> 
<img class="header_img" src="https://cs8.pikabu.ru/post_img/big/2017/12/18/6/1513588165141395433.jpg">


<div class="btn-group admin_button">
    <button class="btn btn-info" @click="reviews_open = !reviews_open"><b> Отзывы </b></button>
    <button class="btn btn-info ask_a_question" @click="ask_a_question = !ask_a_question"><b> Задать вопрос </b></button>
    <button class="btn btn-info" @click="aboutus_open = !aboutus_open"><b>  О нас </b></button>
    <button class="btn btn-info" @click="admin_open = !admin_open"><b>  Админка </b></button>
</div> 


		<!-- АДМИНКА -->
	<div v-if="admin_open" class="description"><br><br>
		<b class="close" @click="admin_open = !admin_open"> Х </b>
		<form class="reviews_form" action="/admin" method="post">
			<label> Введите логин </label><br>
			<input name="login" type="text"><br>
			<label> Введите Пароль </label><br>
			<input name="password" type="text"><br><br>
			<button type="submit" class="btn btn-info " @click="admin_send"> Перейти </button>
		</form>
	</div>


	<div v-else-if="ask_a_question" class="description reviews_form"><br><br>
		<b class="close" @click="ask_a_question = !ask_a_question"> Х </b>
		<div v-if="ask_a_question_checked"><h3>Спасибо, Ваш вопрос принят,<br>ответ придет на email.</h3></div>
		<div v-else >

			<label>Введите Ваше имя </label><br>
			<input v-model="ask_a_question_post.ask_a_question_name" required type="text"><br>
			<label> Введите email </label><br>
			<input v-model="ask_a_question_post.ask_a_question_email" required type="email"><br>
			<label> Введите Вопрос </label><br>
			<textarea v-model="ask_a_question_post.ask_a_question_text" required></textarea><br>
			<button type="submit" class="btn btn-info" @click="ask_a_question_send, ask_a_question_checked = true"> Задать вопрос </button>
		</div>
			<div class="scroll">
				<h3> Часто задаваемые вопросы:</h3>
				<b>Насколько долго осуществляется доставка?</b>
				<p>Доставка осуществляется с г.Белореченска до Вашего населённого пункта. Во временные рамки включены - погрузка и сама доставка. В среднем от 1 до 4 часов, в зависимости от погодных условий и дальности поставки.</p>
				<hr>
				<b>По каким регионам производится доставка?</b>
				<p>В настоящее время доставка производится по Краснодарскому краю, республиках Адыгея и Крым.</p>
				<hr>
				<b>Почему такие низкие цены?</b>
				<p>Мы ведём сотрудничество напрямую с дальневосточными производителями и не имеем огромного числа посредников. Возможны заключения контрактов с последующим понижением цены, авиадоставка и более широкий выбор товара. </p>
				<hr>
				<b>Как заказать морепродукты на сайте?</b>
				<p>Выбираете количество товаров для заказа, далее удобный способ оплаты и заполняете контактные данные. Далее мы Вам перезвоним и уточним подробности заказа. </p> 
				<hr>

			</div>

	</div>

			<!-- ОТЗЫВЫ -->
	<div v-else-if="reviews_open" class="description"><br><br>
		<b class="close" @click="reviews_open = !reviews_open"> Х </b>

		<div class="reviews_window">
			<div class="review"  v-for="review in reviews">
				<b>{{review.review_name}}</b>
				<p>{{review.review_text}}</p>
				{{review.review_date}}
			</div>

		</div>
		<div v-if="reviews_checked"><h3>Спасибо, Ваш отзыв принят</h3></div>
		<div v-else class="reviews_form">
			<label>Введите Ваше имя </label><br>
			<input v-model="review_post.review_name" required type="text"><br>
			<label> Введите email </label><br>
			<input v-model="review_post.review_email" required type="email"><br>
			<label> Введите отзыв </label><br>
			<textarea v-model="review_post.review_text" required></textarea><br>
			<button type="submit" class="btn btn-info" @click="review_send, reviews_checked = true"> Оставить отзыв </button>
		</div>
	</div>

			<!-- О НАС -->
	<div v-else-if="aboutus_open" class="description"><br><br>
		<b class="close" @click="aboutus_open = !aboutus_open"> Х </b>
		<div style="font-size: 24px;">
		Наша фирма занимается поставкой морепродуктов на склад в г.Белореченске и в дальнейшем по Краснодарскому краю, республике Адыгея и республике Крым. В настоящее время доступна доставка автомобильным транспортом и авиадоставка. Для оптовых клиентов цены могут быть снижены, возможны регулярные поставки. Мы гарантируем самые низкие цены на Юге России и качественные морепродукты с Дальнего Востока. С вопросами просим обращаться по телефону +79182635786 или в "Задать вопрос" на нашем сайте. <br> С уважением, Ваш Оптокраб.
		</div>
	</div>


<div id="app"></div>
  <table>
    <template v-for="row in rows">
      <tr @click="toggle(row.id), opened_desc = !opened_desc" :class="{ opened: opened.includes(row.id) }" :id="'id'+row.id">
        <td><img :src="row.photo"></td>
        <td><b> {{ row.name }} </b></td>
        <td> {{ row.kg_in_pack }} кг</td>
        <td> {{ row.count }} шт.</td>
        <td> {{ row.price }} руб.</td>
        <td> {{ row.sum_price}} руб.</td>
        <td> {{ row.kg }} кг</td>
      </tr>
      <tr v-if="opened.includes(row.id)">
      	<div class="modal_background">
	        <td class="description" :id="'desc_id'+row.id" colspan="2">
	        	<b class="close" @click="toggle(row.id), opened_desc = false"> Х </b>
	        	{{ row.description }}      
	        	<div class="buttons"> 
	        		<div>
	        			<p>Всего: <input @click="input_number(row.id)" v-on:keyup="input_number(row.id)" type="number" v-model="row.count"> упаковок </p> <p> Общий вес: {{ row.kg }} кг </p> <p> Товар: {{ row.sum_price }} рублей </p> <p class="sum"> Итого к оплате {{sum_full_price}} рублей</p>
	        		</div>
			     	<button type="button" @click="plus(row.id)" class="btn btn-info">Добавить ед.</button> 
			      	<button type="button" @click="minus(row.id)" class="btn btn-danger">Убрать ед.</button> 
		      	</div>
	  		</td>
	  	</div>
      </tr>
    </template>
  </table>
<div class="pay_block">
<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">    
	<input type="hidden" name="receiver" value="410014146569625">    
	<input type="hidden" name="formcomment" :value="formcomment">    
	<input type="hidden" name="short-dest" :value="formcomment">   
	<input type="hidden" name="label" value="$order_id">    
	<input type="hidden" name="quickpay-form" value="donate">    
	<input type="hidden" name="targets" value="транзакция {order_id}">    
	<input type="hidden" id="val" name="sum" value="0" data-type="number">    
	<input type="hidden" name="comment" :value="formcomment">   
	<input type="hidden" name="need-fio" value="true">    
	<input type="hidden" name="need-email" value="true">   
	<input type="hidden" name="need-phone" value="true">    
	<input type="hidden" name="need-address" value="true">    
	<div class="ym_pay_button">
		<label><input type="radio" required name="paymentType" value="PC">Яндекс Деньгами</label>    
		<label><input type="radio" required name="paymentType" value="AC">Банковской картой</label>       
		<button onclick="y_val(vue.sum_full_price)" type="submit" class="btn btn-info">Оплатить {{sum_full_price}} рублей</button>
	</div>
</form>
	<button onclick="formcomment_fun() " class="btn btn-info go_home_button" @click="go_home = !go_home, hidden_go_home = !hidden_go_home">Оплатить наличными при получении ( предоплата 10% )</button>
	<!--<button class="btn btn-info ask_a_question" @click="">Задать вопрос</button>-->

<div class="go_home_static_class" v-bind:class="{ description: go_home, hidden_go_home: hidden_go_home}">
	<b class="close" @click="hidden_go_home = true, go_home = false"> Х </b>
	<div class="buttons"></div>
	<form action="/go_home" method="post">
	<label>Введите ФИО</label><br>
	<input type="text" required name="name" placeholder="Фамилия Имя Отчество"><br>
	<label>Введите номер телефона</label><br>
	<input type="phone" required name="phone" placeholder="+79XXXXXXXXX"><br>
	<label>Введите свой email</label><br>
	<input type="email" required name="email" placeholder="Email"><br>
	<label>Введите свой город ( только Краснодарский край и Адыгея )</label><br>
	<input type="text" required name="sity" placeholder="Город"><br>
	<label>Введите свой адрес</label><br>
	<input type="text" required name="adress" placeholder="Улица, Строение"><br>
	<label>Комментарий к заказу ( по желанию )</label><br>
	<textarea name="comment" placeholder="Комментарий"></textarea><br>
	<input type="hidden" name="prepayment" :value="sum_full_price * 0.1">
	<input type="hidden" name="sum_full_price" :value="sum_full_price">
	<input type="hidden" name="task" :value="formcomment">
	<button class="btn btn-info"> Отправить </button>

	</form>	 <br>
	<p style="font-size: 24px;"><b>Внимание: </b> при наличии товара на складе, вносится предоплата в количестве 10% от суммарной стоимости заказа. В данный момент эта сумма составляет: <b>{{sum_full_price * 0.1}} рублей.</b><br> Счет предоплаты придет на Ваш email.</p>
	<b class="task">{{formcomment}}</b> 

</div>
</div></main>
<script>

const vue = new Vue({
	el: '.app',
	data: {
	  	opened: [],
	  	rows: [],
	  	sum_full_price: 0,
	  	double_rows: [],
	  	go_home: false,
	  	hidden_go_home: true,
	  	admin: { login: '', password: '' },
	  	review_post: {},
	  	reviews: [], 
	  	reviews_checked: false,
	  	ask_a_question_checked: false,
	  	formcomment: [],
	  	admin_open: false,
	  	ask_a_question: false,
		reviews_open: false,
	  	aboutus_open: false,
	  	opened_desc: false,
	  	show_banner: true,
	  	ask_a_question_post: [],
	  	success: '  <div class="alert alert-success alert-dismissible fade show"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Success!</strong> This alert box could indicate a successful or positive action. </div>',
  	},
	methods: {
	  	toggle(id) {
	    	const index = this.opened.indexOf(id);
	    	if (index > -1) {
		    	this.opened.splice(index, 1)
	    	} else {
		      	this.opened = [];
		      	this.opened.push(id)
	    	}
	    },
	    toggle_go_home: function(){
	    	this.go_home = true;
	    },
	    input_number: function(id){
	    	if (this.rows[id].count > 0){
		    	this.rows[id].sum_price = this.rows[id].count * this.rows[id].price * this.rows[id].kg_in_pack;
		    	this.rows[id].kg = this.rows[id].count * this.rows[id].kg_in_pack;
		    	full_price(this.rows[id].id)
	    	}
	    },
	    minus: function(id) {
	    	if (this.rows[id].count > 0){
		    	this.rows[id].count = this.rows[id].count - 1;
		    	this.rows[id].sum_price = this.rows[id].sum_price - this.rows[id].price * this.rows[id].kg_in_pack;
		    	this.rows[id].kg = this.rows[id].kg - this.rows[id].kg_in_pack;
		    	full_price(this.rows[id].id)
	    	}
	    },
	    plus: function(id) {
	    		this.rows[id].count = Number(this.rows[id].count);
		    	this.rows[id].count = this.rows[id].count + 1;
		    	this.rows[id].sum_price = this.rows[id].count * this.rows[id].price * this.rows[id].kg_in_pack;
		    	this.rows[id].kg = this.rows[id].count * this.rows[id].kg_in_pack;
		    	full_price(this.rows[id].id, this.rows[id].name, this.rows[id].id,)
	    	},
	    admin_send: function() {
	    		axios.post('/admin', {
			    	login: this.admin.login,
			    	password: this.admin.password
			    })
	   		},
	   	review_send: function() {
	   			axios.post('/review', { 
	   				review_name: this.review_post.review_name, 
	   				review_email: this.review_post.review_email, 
	   				review_text: this.review_post.review_text, 
	   			}).then(function (response) {
	    			console.log(response.data);
	    			//vue.reviews = response.data;  
	 			})
	   		},
	   	ask_a_question_send: function() {
	   			axios.post('/question', { 
	   				ask_a_question_name: this.ask_a_question_post.ask_a_question_name, 
	   				ask_a_question_email: this.ask_a_question_post.ask_a_question_email, 
	   				ask_a_question_text: this.ask_a_question_post.ask_a_question_text, 
	   			}).then(function (response) {
	    			console.log(response.data);
	    			vue.reviews = response.data;
	 			})
	   		},

	},
	mounted() {
	    axios.post('/products')
	        .then(function (response) {
	    console.log(response.data);
	    vue.rows = response.data.product_result;
	    vue.reviews = response.data.review_result;
	  })
  }
});

function full_price(f){
	vue.double_rows = vue.rows.slice();
	var arr = vue.double_rows;

	arr.reduce(function (a, b) {
		if (arr[0].id === 0){
			arr.splice(0, 1);
	  		return {sum_price: a.sum_price + b.sum_price};
		} else {
			return {sum_price: a.sum_price + b.sum_price};
		}	
	})
	console.log(arr.reduce((a, b) => ({sum_price: a.sum_price + b.sum_price})));
	var spr = arr.reduce((a, b) => ({sum_price: a.sum_price + b.sum_price})); 
	vue.sum_full_price = spr.sum_price;
	console.log(spr.sum_price + '------')
	vue.submit_button_value = 'Оплатить '+spr.sum_price+' рублей';

vue.formcomment = [];



}

function formcomment_fun() {
	i=1;
	while (i < vue.rows.length) {
		var formcomment_arry = vue.rows[i].kg + ' kg ' + vue.rows[i].name + ' - ' + vue.rows[i].count + ' упаковок на ' + vue.rows[i].sum_price + ' рублей' 
	 	vue.formcomment.push(formcomment_arry);
	  i++;
	}
}

function y_val(yv) {
	document.getElementById("val").value = yv + ".00";
	console.log(yv)
	formcomment_fun()
}

</script>
</div>
</body>
</html>