			body {
				background: #FAEBD7;
				font-family: 'Neucha', cursive;
				/*
				font-family: 'M PLUS Rounded 1c', sans-serif;
				font-family: 'Comfortaa', cursive;
				font-family: 'Vollkorn', serif;
				font-family: 'Caveat', cursive;
				font-family: 'Poiret One', cursive;
				font-family: 'Neucha', cursive;
				*/
			}
			.banner {
				position: fixed;
				background-image: url(https://i.pinimg.com/originals/00/5f/79/005f7911319004852eecaefa9c494db1.jpg);
				background-size: cover; 
				z-index: 999;
				height: 110%;
				width: 100%;
				margin-top: -20px;
			}
			.banner_site_name {
				position: absolute;
				color: #17a2b8;
				top: 20px;
				font-size: 142px;
				left: 30%;
				background: #FAEBD7;
				border: 8px dashed #17a2b8;
				border-radius: 8px;
				padding: 5px;
			}
            .banner_phone {
	            position: absolute;
	            color: #FAEBD7;
	            top: 192px;
	            left: 36%;
	            font-size: 62px;
	            background: #17a2b8;
	            border: 8px dashed #FAEBD7;
	            border-radius: 8px;
	            padding: 5px;
            }
            .banner_email {
	            position: absolute;
	            color: #FAEBD7;
	            top: 33%;
	            left: 47%;
	            font-size: 62px;
                background: #17a2b8;
                border: 8px dashed #FAEBD7;
                border-radius: 8px;
                padding: 5px;
                        }
            .banner_about {
                position: absolute;
                color: #17a2b8;
                top: 48%;
                font-size: 42px;
                left: 19%;
                background: #FAEBD7;
                border: 8px dashed #17a2b8;
                border-radius: 8px;
                padding: 5px;
                        }
            .banner_button {
                position: absolute;
                color: #FAEBD7;
                top: 78%;
                left: 43%;
			    font-size: 62px;
			    background: #17a2b8;
			    border: 8px dashed #FAEBD7;
			    border-radius: 8px;
			    padding: 5px;
			}
			.banner_button:hover {
				color: #17a2b8;
				background: #FAEBD7;
			    border: 8px dashed #17a2b8;
			    cursor: pointer;
			}
			.modal_big_background {
			    background-color:rgba(0,0,0,.7);
			    height:100%;
			    position:fixed;
			    width:100%;
			    top:0;
			    left:0;
			    z-index: 100;
			}
			header h1 {
				color: #17a2b8;
				margin-top: 20px;
				font-size: 112px;
				margin-left: 50px;
			}
			header b {
			    position: absolute;
			    color: #FAEBD7;
			    top: 122px;
			    margin-left: 150px;
			    font-size: 42px;
			}
			.header_img {
				clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
				margin-top: -40%;
				z-index: -9999;
				width: 100%;
			}
			main {
				margin-top: 0%;
				display: flex;
				flex-direction: column;
			}
			.hidden_admin {
				display: none;
			}
			.admin_button {
				position: absolute;
				top: 0%;
				right: 250px;
				width: 25%;
			}
			.reviews_form {

			}
			.reviews_form label {
				font-size: 24px;
			}
			.reviews_form input {
				font-size: 24px;
				padding: 8px;
				width: 30%;
				height: 40px;
				background: #FAEBD7;
			}
			.reviews_form textarea {
				font-size: 24px;
				padding: 8px;
				width: 30%;
				height: 200px;
				background: #FAEBD7
			}
			.reviews_form button {
				width: 30%;
				height: 40px;
			}
			.reviews_window {
				position: absolute;
			    overflow-y: scroll;
			    left: 35%;
			    height: 83%;
			    width: 65%;
			}
			.review {
				border-bottom: 1px dashed black;
			}
			.review b {
				font-size: 24px;
				color: #117a8b;
			}
			.review p {
				font-size: 22px;

			}
			#app {
				margin-top: -30%;
			}
			tr:hover {
				background: #ADD8E6;
				transition: 0.1s;
			}
			table {
				width: 100%;
			}
			td {
				padding-right: 15px;
				padding: 8px;
				height: 80px;
				width: 250px;
				border-bottom: 3px solid #43a8bb;
				font-size: 24px;
			}
			td img {
				height: 150px;
				width: 150px;
				border-radius: 8px;
			}
			.description {
				position: fixed;
				background: #FFEBCD;
				min-height: 400px;
				width: 60%;
				min-height: 41%;
				border-radius: 8px;
				left: 20%;
				top: 15%;
				padding: 20px;
				border-top: 48px solid #117a8b;
				z-index: 101;
			}
			#id0 {
				font-weight: bold;
				font-size: 22px;
				border-bottom: 1px solid black;
				background: #17a2b8;
				opacity: 0.9;
				color: white;
			}
			#id0 img {
				border: none;
			}
			#desc_id0 {
				display: none;
			}
			.buttons {
				position: absolute;
				display: flex;
				font-size: 24px;
				left: 52%;
				top: 95%;
			}
			.close {
				font-size: 12px;
			    position: absolute;
			    background: white;
			    border: 2px dashed black;
			    border-radius: 8px;
			    padding: 10px;
			    top: -45px;
			    left: 95.8%;
			    color: #fff;
			    background-color: #dc3545;
			    border-color: #dc3545;
			    width: 40px;
			    height: 40px;
			    text-align: center;
			    transition: 0.2s;
			    opacity: 1;
			}
			.scroll {
			    position: absolute;
			    overflow-y: scroll;
			    left: 35%;
			    top: 13%;
			    height: 83%;
			    width: 65%;
			}

			.buttons p {
				font-size: 20px;
			    margin-top: -55px;
			    margin-right: 20px;
			}
			.buttons div {
				display: flex;
				margin-left: -370px;
			}
			input[type="number"] {
				border: none;
				border-bottom: 2px solid;
    			border-radius: 8px; 
    			text-align: center;
    			width: 60px;
    			background: #FFE4C4;
			}
			.buttons button {
				position: absolute;	
				width: 180px;
				font-size: 20px;
			}
			.btn-info {
				left: 220px;
			}
			.ym_pay_button {
				display: flex;
				justify-content: space-between;
				border: 1px solid black;
				border-radius: 4px;
				position: relative;
				top: 10px;
				left: 25%;
				width: 900px;
				font-size: 36px;
			} 
			.ym_pay_button button {
				font-size: 36px;
			}
			.ym_pay_button label:hover {
				background: #17a2b8;
				border-radius: 4px;
			}
			.go_home_button {
				position: relative;
				font-size: 36px;
				top:15px;
				left: 25%;
				height: 72px;
				width: 900px;
			}
			.hidden_go_home {
				display: none;
			}
			.go_home_static_class {

			}
			.go_home_static_class input {
				margin-left: 25px;
				width: 450px;
				height: 55px;
				font-size: 24px;
				text-align: center;
			}
			.go_home_static_class textarea {
				margin-left: 25px;
				width: 450px;
				height: 155px;
				font-size: 24px;
			}
			.task {
				position: absolute;
			    margin-left: 48%;
			    margin-top: -51%;
			    padding: 8px;
			}


			@media screen and (min-width: 1025px) and (max-width: 1264px) {
				.header_img {
				    margin-top: -45%;
				}
				.description {
					left: 1%;
					top: 20%;
					width: 98%;
				}
				header h1 {
					font-size: 62px;
					margin-top: 0px;
				}
				header b {
					font-size: 44px;
					margin-top: -114px;
					margin-left: 40%;
				}
			}
		@media screen and (min-width: 787px) and (max-width: 1024px) {
				.description {
					position: absolute;
					width: 98%;
					min-height: 600px;
				}
				.header_img {
				    margin-top: -46%;
				}
				header h1 {
					font-size: 62px;
					margin-top: 0px;
				}
				header b {
				    font-size: 36px;
				    margin-top: -107px;
				    margin-left: 36%;
				}
				.ym_pay_button {
					font-size: 26px;
					left: 0%;
					width: 100%;
				}
				.ym_pay_button button {
					font-size: 26px;
				}
				.go_home_button {
					position: relative;
					font-size: 26px;
					top:15px;
					left: 0%;
					height: 72px;
					width: 100%;
				}
				.admin_button {
				    position: absolute;
				    right: 220px;
				    width: 36%;
				    height: 57px;
				}
				.buttons {
				    position: absolute;
				    display: flex;
				    font-size: 24px;
				    left: 60%;
				    top: 92%;
				}
				.buttons button {
					height: 100px;
				    width: 100px;
				    border-radius: 100px;
				    border-bottom: 2px solid #117a8b;
				}
				.close {
				    font-size: 40px;
				    position: absolute;
				    background: white;
				    border: 2px dashed black;
				    border-radius: 100px;
				    padding: 30px;
				    top: -75px;
				    left: 88%;
				    color: #fff;
				    background-color: #dc3545;
				    border-color: #dc3545;
				    width: 100px;
				    height: 100px;
				    text-align: center;
				    transition: 0.2s;
				    opacity: 1;
				}
			}
		@media screen and (max-width: 786px) {

				.banner_site_name {
					width: 100%;
					left: 0%;
					font-size: 58px;
					top: 0;
					text-align: center;
				}
				.banner_phone {
					padding: 8px;
					left: 50%;
					font-size: 38px;
					top: 14%;
				}
				.banner_email {
					padding: 8px;
					left: 2%;
					font-size: 38px;
					top: 25%;
				}
				.banner_about {
					left: 4%;
					font-size: 38px;
					top: 35%;
				}
				.banner_button {
					width: 100%;
					left: 0%;
					font-size: 38px;
					top: 85%;
					text-align: center;
				}
				.description {
					position: absolute;
					width: 98%;
					min-height: 600px;
				}
				.header_img {
				    margin-top: -46%;

				}
				header h1 {
					font-size: 42px;
					margin-left: 2%;
				}
				header b {
				    font-size: 30px;
				    margin-top: -96px;
				    margin-left: 40%;
				}
				.buttons b {
					left: 250px;
				}
				.buttons div {
					margin-left: -250px;
				}
				.admin_button {
				    position: absolute;
				    right: 200px;
				    width: 35%;
				    height: 3%;
				}		
				.buttons {
				    position: absolute;
				    display: flex;
				    font-size: 24px;
				    left: 60%;
				    top: 92%;
				    height: 100px;
				    width: 100px;
				    border-radius: 100px;
				}
				.buttons button {
					height: 100px;
				    width: 100px;
				    border-radius: 100px;
				    border-bottom: 2px solid #117a8b;
				}
				.close {
				    font-size: 40px;
				    position: absolute;
				    background: white;
				    border: 2px dashed black;
				    border-radius: 100px;
				    padding: 30px;
				    top: -75px;
				    left: 88%;
				    color: #fff;
				    background-color: #dc3545;
				    border-color: #dc3545;
				    width: 100px;
				    height: 100px;
				    text-align: center;
				    transition: 0.2s;
				    opacity: 1;
				}
			}

			.bounce-leave-active {
			  animation: bounce-in .5s reverse;
			}
			@keyframes bounce-in {
			  0% {
			    transform: scale(0);
			  }
			  50% {
			    transform: scale(2.5);
			    opacity: 0.7;
			  }
			  100% {
			    transform: scale(1);
			    opacity: 1;
			  }
			}



			/*@media (max-width: 412px){
				.buttons b {
					left: 150px;
				}
				.buttons div {
					margin-left: -150px;
				}
				header h1 {
					font-size: 32px;
					margin-left: 2%;
				}
				header b {
					font-size: 18px;
					margin-left: 35%;
				}
				.admin_button {
				    position: absolute;
				    right: 200px;
				    width: 35%;
				    height: 3%;
				}	
			}*/
